nav {
    display: flex;
    flex-direction: row;
}

ul {
    padding: 0;
    font-size: 2.5vmin;
    display: flex;
    li {
        color: black;
        border-radius: 0.3vmin;
        margin-right: 1vw;
        list-style-type: none;
        border: 0.1vh solid #a1c6d2;
        padding: 0.2vw;
        min-width: 5vw;
        max-width: 20vw;
        &:hover {
            background-color: #a1c6d2;
        }
    }

}

a {

    text-decoration: none;
    color: black;
    padding: 0.2vw;
}

header {
    font-family: "DejaVu Sans"
}

body {
    background-color: #dce7e7;

    font-family: "DejaVu Sans"
}
